<div class="header__container">
  <div class="header__content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light pl-pr-20">
      <ul class="navbar-nav" *ngFor="let route of routes">
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="navToRoute(route?.path || '')"
            [ngClass]="{ active: currentRoute(route?.path || '') }"
          >
            {{ route?.page || "" }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
