<div class="header__container">
  <div class="header__content">
    <nav class="header__navbar navbar navbar-expand-lg navbar-light bg-light">
      <ul class="header__navbarList navbar-nav">
        <li
          class="header__navbarListItem nav-item"
          *ngFor="let route of routes"
        >
          <a
            class="nav-link"
            (click)="navToRoute(route?.path || '')"
            [ngClass]="{ active: currentRoute(route?.path || '') }"
          >
            {{ route?.page || "" }}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="header__navbarListItemRight nav-item d-flex">
          <a class="nav-link" (click)="exitApp()"> Sair </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
