<div class="transfer__container col-12">
  <div class="transfer__content col-6">
    <div class="transfer__inputFormContainer">
      <div class="transfer__inputFormTitile">Make a transfer</div>
      <form
        [formGroup]="transferForm"
        (ngSubmit)="submit()"
        class="transfer__inputForm"
      >
        <div class="transfer__inputFormSelection">
          <div class="transfer__formSelectionRigth">
            <div class="dropdown transfer__inputFormDropdown">
              <button
                class="btn btn-secondary dropdown-toggle transfer__inputFormDropdownBtn"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectedDebitClient?.clientName || "Remove from" }}
              </button>
              <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton transfer__inputFormDropdownMenu"
              >
                <a
                  class="dropdown-item transfer__inputFormDropdownItem"
                  *ngFor="let client of clients"
                  (click)="selectDebitClient(client)"
                >
                  {{ client.clientName }}
                </a>
              </div>
            </div>
          </div>
          <div class="transfer__formSelectionLeft">
            <div class="dropdown transfer__inputFormDropdown">
              <button
                class="btn btn-secondary dropdown-toggle transfer__inputFormDropdownBtn"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectedCreditClient?.clientName || "Add in" }}
              </button>
              <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton transfer__inputFormDropdownMenu"
              >
                <a
                  class="dropdown-item transfer__inputFormDropdownItem"
                  *ngFor="let client of clients"
                  (click)="selectCreditClient(client)"
                >
                  {{ client.clientName }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="input-group mb-3 transfer__inputFormAmount">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Value to be transfered"
            formControlName="amount"
          />
        </div>
        <div class="transfer__inputFormSubmit">
          <button
            type="submit"
            class="btn btn-success transfer__inputFormButtonSubimit"
          >
            Transfer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
