<div class="register__container col-12">
  <div class="register__content col-4">
    <div class="register__inputFormContainer">
      <div class="register__inputFormTitle">Add a new client</div>
      <form
        [formGroup]="clientForm"
        (ngSubmit)="submit()"
        class="register__inputForm"
      >
        <div class="register__inputFormBox">
          <input
            type="number"
            class="form-control register__inputFormAccountNumber"
            placeholder="Account Number"
            formControlName="accountNumber"
          />
        </div>
        <div class="register__inputFormBox">
          <input
            type="text"
            class="form-control register__inputFormName"
            placeholder="Client Name"
            formControlName="clientName"
          />
        </div>
        <div class="register__inputFormBox">
          <input
            type="number"
            class="form-control register__inputFormDocument"
            placeholder="Document Number"
            formControlName="documentNumber"
          />
        </div>
        <div class="register__inputFormBox">
          <input
            type="text"
            class="form-control register__inputFormAddress"
            placeholder="Client Address"
            formControlName="clientAddress"
          />
        </div>
        <div class="register__inputFormSubmit">
          <button type="button" class="btn btn-success" type="submit">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
