<div class="register__cotainer col-12">
  <div class="register__content col-4">
    <div class="register__inputForm">
      <form [formGroup]="clientForm" (ngSubmit)="submit()">
        <div class="register__inputFormAccountNumber">
          <input
            type="number"
            class="form-control"
            placeholder="Account Number"
            formControlName="accountNumber"
          />
        </div>
        <div class="register__inputFormName">
          <input
            type="text"
            class="form-control"
            placeholder="Client Name"
            formControlName="clientName"
          />
        </div>
        <div class="register__inputFormDocument">
          <input
            type="number"
            class="form-control"
            placeholder="Document Number"
            formControlName="documentNumber"
          />
        </div>
        <div class="register__inputFormAddress">
          <input
            type="text"
            class="form-control"
            placeholder="Client Address"
            formControlName="clientAddress"
          />
        </div>
        <div class="register__inputFormSubmit">
          <button type="button" class="btn btn-success" type="submit">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
