<div class="login__container col-12">
  <div class="login__content col-6">
    <div class="login__inputFormContainer">
      <div class="login__inputFormTitle">Login</div>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="submit()"
        class="login__inputForm"
      >
        <div class="login__inputFormBox">
          <input
            type="text"
            class="form-control login__inputFormUser"
            placeholder="Aplication User"
            formControlName="appUser"
          />
        </div>
        <div class="login__inputFormBox">
          <input
            type="password"
            class="form-control login__inputFormPassword"
            placeholder="Aplication Password"
            formControlName="appPassword"
          />
        </div>
        <div class="login__inputFormSubmit">
          <button type="button" class="btn btn-success" type="submit">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
