<div class="deposit__container col-12">
  <div class="deposit__content col-4">
    <div class="register__inputFormContainer">
      <div class="register__inputFormTitle">Make a deposit</div>
      <form
        [formGroup]="depositForm"
        (ngSubmit)="submit()"
        class="register__inputForm"
      >
        <div class="deposit__inputFormSelection">
          <div class="dropdown register__inputFormDropdown">
            <button
              class="btn btn-secondary dropdown-toggle register__inputFormDropdownBtn"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ selectedClient?.clientName || "Select client" }}
            </button>
            <div
              class="dropdown-menu register__inputFormDropdownMenu"
              aria-labelledby="dropdownMenuButton"
            >
              <a
                class="dropdown-item register__inputFormDropdownItem"
                *ngFor="let client of clients"
                (click)="selectClient(client)"
              >
                {{ client.clientName }}
              </a>
            </div>
          </div>
        </div>
        <div class="deposit__inputFormAmount input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Amount to deposit"
            formControlName="amount"
          />
        </div>
        <div class="deposit__inputFormSubmit">
          <button type="submit" class="btn btn-success">Deposit</button>
        </div>
      </form>
    </div>
  </div>
</div>
